.note-quote {
    background-color: lightblue;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: default;
}

.author {
    font-size: 0.9em;
    text-align: right;
    padding-top: 18px;
}

.quote-text {
    font-family: 'Dancing Script';
    text-align: center;
    font-size: 1.7em;
}