
/*********************************** GLOBAL ***********************************/

body {
    display: flex;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

/*********************************** NAVBAR ***********************************/

nav {
    /* width: 400px; */
    flex: 0 0 320px;
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    align-items: center;
    /* background-color: lightcoral; */
}

.main-icon {
    width: 30%;
    align-self: center;
}

.nav-items-container {
    margin-top: 24px;
    width: 100%;
}


.nav-item {
    display: flex;
    padding: 8px;
    margin: 20px 0;
    width: 90%;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

.nav-item:hover {
    background-color: #f1f3f4;
    cursor: pointer;
}

.nav-item-active {
    background-color: rgb(254, 239, 195);
}

.nav-item img {
    height: 1.8em;
}

.nav-item h2 {
    padding-left: 28px;
    padding-top: 7px;
    font-size: 16px;
    font-weight: bold;
}

.imprint-container {
    position: absolute;
    bottom: 0;
    margin-bottom: 18px;
    /* text-align: center; */
    align-self: flex-start;
    margin-left: 70px;
}

.imprint-container * {
    margin: 8px 0;
    cursor: pointer;
}

/*********************************** MAIN-CONTAINER ***********************************/

.main-container {
    width: 100%;
    height: 100vh;
    /* background-color: lightgreen; */
    display: flex;
    flex-direction: column;
}

/*********************************** NEW-NOTE-BUTTON ***********************************/

.newNote-container {
    width: 100%;
    flex: 0 0 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newNote-button {
    color: #FBA716;
    border-radius: 10px;
    padding: 12px 120px;
    box-shadow: 0 0 10px 0px #FBA716;
}

.newNote-button:hover {
    background-color: #FBA716;
    color: white;
    box-shadow: none;
    cursor: pointer;
}

/*********************************** MAIN ***********************************/

main {
    flex: 0 0 calc(100vh - 120px);
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.note {
    background-color: rgb(254, 239, 195);
    width: 200px;
    height: 200px;
    border-radius: 7px;
    position: relative;
    overflow: clip;
    margin: 8px;
    padding: 13px;
}

.title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
}

.text {
    font-size: 14px;
    width: 100%;
    /* background-color: lightcoral; */
    margin-bottom: 10px;
}

.note-del-img {
    height: 1em;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: inherit;
}

/*********************************** DIALOG-OVERLAY ***********************************/

.noteDialog-bg {
    background-color: rgb(0 0 0 / 60%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.noteDialog {
    background-color: rgb(254, 239, 195);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    width: 80%;
    border-radius: 20px;
    position: relative;
}

.input-container {
    flex-grow: 1;
    /* background-color: lightcoral; */
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    display: flex;
    flex-direction: column;
    padding: 16px 32px 0 32px;
}

.input-Title,
.input-Text {
    background-color: transparent;
    border: none;
    font-family: 'Roboto', sans-serif;
}

.input-Title {
    font-size: 22px;
    margin-bottom: 16px;
}

.input-Text {
    font-size: 16px;
    /* background-color: lightcoral; */
    resize: none;
    flex-grow: 1;
}

.input-Text::-webkit-scrollbar {
    display: none;
}

.sperator {
    height: 5px;
    background: linear-gradient(to top, rgb(0 0 0 / 15%), rgb(254, 239, 195));
}

.save-button-container {
    /* background-color: lightgreen; */
    width: 100%;
    height: 32px;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.dialog-button {
    font-size: 14px;
    font-weight: bold;
    color: rgb(0 0 0 / 65%);
    padding-right: 20px;
}

.dialog-button:hover {
    cursor: pointer;
}

/*********************************** DISPLAY-NONE ***********************************/

.display-none {
    display: none;
}




